@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import './filament/admin/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/guava/calendar/resources/**/*';

@import '../../../../vendor/awcodes/mason/resources/css/plugin.css';
@source '../../../../vendor/awcodes/mason/resources/**/*.blade.php';

@theme {
    --text-base: 18px;
    
    --color-layout-primary: oklch(1 0 0); /* White - #fff */
    --color-layout-primary-dark: oklch(0, 0, 0); /* Black - #000 */

    --color-layout-secondary: oklch(0.9791 0 0); /* Off-white - #f6f6f6 */

    --color-brand-primary: oklch(0.3211 0 0); /* Dark grey - #333 */
    --color-brand-secondary: oklch(0.3211 0 0); /* Dark grey - #333 */
    --color-brand-primary-dark: oklch(0 0 0); /* Black - #000 */
    --color-brand-secondary-dark: oklch(0 0 0); /* Black - #000 */

    --color-content-primary: oklch(0.8452 0 0); /* Light grey - #ccc */
    
    --color-keyline-primary: oklch(0.9612 0 0); /* Off-white - #f2f2f2 */
    --color-keyline-secondary: oklch(0.3867 0 0); /* Mid grey - #444 */
}