@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import 'tailwindcss';
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/pathfinder/**/*';
@source '../../../../vendor/guava/calendar/resources/**/*';
@import '../../../../vendor/guava/calendar/resources/css/theme.css';
@source '../../../../vendor/awcodes/mason/resources/**/*.blade.php';
@import '../../../../vendor/awcodes/mason/resources/css/plugin.css';
@source '../../../../vendor/awcodes/palette/resources/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --text-base: 18px;
    
    --color-layout-primary: #fff;
    --color-layout-secondary: #f6f6f6;
    --color-layout-primary-dark: #0f0f0f;
    --color-layout-secondary-dark: #000;

    --color-content-primary: #333;
    --color-content-primary-dark: #eee;
    --color-contrast-primary: #eee;
    --color-contrast-primary-dark: #333;
    
    --color-keyline-primary: #ededed;
    --color-keyline-primary-dark: #202020;

    --spacing-content: 1600px;
}

@layer theme {
    html.dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }

    html.small {
        @apply text-sm;
    }

    html.large {
        @apply text-lg;
    }
}

.fi {
    @apply bg-layout-secondary dark:bg-layout-secondary-dark text-content-primary dark:text-content-primary-dark antialiased font-light!;

    /* Basic utilities */
    > * {
        @apply text-inherit;
    }

    .fi-body {
        @apply bg-transparent;
    }

    .fi-main {
        @apply px-4 lg:px-8;
    }

    /* Pre Top Bar */
    .fi-pre-topbar {
        @apply py-1 lg:py-4 lg:flex lg:justify-between bg-(--tertiaryLight-500) dark:bg-(--tertiaryDark-500) text-contrast-primary dark:text-contrast-primary border-b border-b-keyline-primary dark:border-b-keyline-primary-dark;

        .fi-icon-btn {
            
        }
    }

    /* Top Bar */
    .fi-topbar-ctn {
        @apply bg-layout-primary dark:bg-layout-primary-dark shadow-none border-b border-b-keyline-primary dark:border-b-keyline-primary-dark;

        .fi-topbar {
            @apply w-full min-h-20 bg-transparent shadow-none border-0 ring-0 lg:mr-auto;

            .fi-topbar-nav-groups {
                @apply lg:ml-auto;

                .fi-topbar-item {
                    .fi-topbar-item-btn {
                        @apply rounded-sm;

                        .fi-topbar-item-label {
                            @apply text-content-primary dark:text-content-primary-dark text-xs font-bold uppercase tracking-wider;
                        }
                    }

                    &.fi-active {
                        .fi-topbar-item-btn {
                            .fi-topbar-item-label {
                                @apply text-(--tertiaryLight-500) dark:text-(--tertiaryDark-500);
                            }

                            .fi-icon {
                                @apply text-(--tertiaryLight-500) dark:text-(--tertiaryDark-500);
                            }
                        }
                    }
                }
            }
        }
    }

    /* Sidebar */
    .fi-sidebar.fi-main-sidebar {
        @apply overflow-y-visible;

        .fi-sidebar-nav {
            @apply overflow-y-visible overflow-x-visible p-4 lg:p-4 lg:pt-0;

            .fi-sidebar-nav-groups {
                @apply gap-3;
            }
        }
        
        .fi-sidebar-group {
            .fi-sidebar-group-label {
                @apply text-xs font-bold uppercase tracking-wider;
            }

            .fi-sidebar-group-items {
                @apply gap-1;
            }

            .fi-sidebar-item {
                .fi-sidebar-item-btn {
                    @apply rounded-3xl text-content-primary dark:text-content-primary-dark;

                    .fi-sidebar-item-icon {
                        @apply rounded-full bg-layout-secondary p-1;
                    }

                    .fi-sidebar-item-label {
                        @apply text-sm font-extralight!;
                    }
                }

                &.fi-active {
                    .fi-sidebar-item-btn {
                        @apply bg-white;
                    }

                    .fi-sidebar-item-icon {
                        @apply bg-white text-content-primary;
                    }

                    .fi-sidebar-item-label {
                        @apply text-content-primary;
                    }
                }
            }

            &.fi-active {
                .fi-sidebar-group-label {
                    
                }
            }
        }
    }

    /* Main header */
    .fi-page-header-main-ctn {
        @apply pt-0;

        .fi-header {
            @apply bg-layout-primary dark:bg-layout-primary-dark -mx-4 lg:-mx-8 py-12 px-4 lg:px-8 border-b-8 border-b-keyline-primary dark:border-b-keyline-primary-dark;

            /* Breadcrumbs */
            .fi-breadcrumbs {
                .fi-breadcrumbs-item {
                    .fi-breadcrumbs-item-label {
                        @apply text-(--tertiaryLight-500) dark:text-(--tertiaryDark-500) text-xs font-bold tracking-wide uppercase;
                    }
                }
            }

            /* Header */
            .fi-header-heading {
                @apply text-content-primary dark:text-content-primary-dark text-5xl font-bold;
            }
        }
    }

    /* Sections */
    .fi-sc {
        &.fi-sc-has-gap {
            @apply gap-4 lg:gap-8;
        }

        .fi-sc-custom {
            @apply mb-2;

            .fi-sc-section-label-ctn {
                .fi-sc-section-label {
                    @apply text-lg mb-1;
                }
            }
        }
    }

    /* Buttons/button groupings */
    .fi-fo-toggle-buttons {
        @apply ring-0;
    }

    .fi-btn {
        @apply rounded-sm bg-(--tertiaryLight-500) dark:bg-(--tertiaryDark-500) text-contrast-primary dark:text-contrast-primary font-bold tracking-wide uppercase text-sm py-3 px-6;

        &:not(.fi-color) {
            @apply bg-(--quaternaryLight-500) text-white border border-(--quaternaryLight-500);
        }

        &:hover {
            @apply text-white;
        }

        &.fi-btn-empty {
            @apply bg-transparent text-(--quinaryLight-500);

            &:hover {
                @apply text-white;
            }
        }

        &.fi-size-md {
            @apply px-6 py-3;
        }
    }

    .fi-fo-toggle-buttons {
        @apply shadow-none ring-0;

        .fi-btn {
            @apply w-full py-3 px-3 rounded-lg flex flex-col normal-case tracking-normal text-sm;

            &:not(.fi-outlined) {
                &.fi-color {
                    label& {
                        input:checked + & {
                            @apply text-white;

                            .fi-icon {
                                @apply text-white;
                            }

                            &:hover {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .fi-icon {
                @apply w-8 h-8 rounded-none bg-transparent;
            }
        }

        &.fi-toggle-buttons-unspaced-icons {
            .fi-btn {
                .fi-icon {
                    @apply bg-transparent p-0;
                }
            }
        }
    }

    /* Badge */
    .fi-badge {
        @apply uppercase tracking-wider text-xs rounded-xs;
    }

    /* Forms */
    .fi-fo-field {
        .fi-sc {
            .fi-sc-text {
                @apply text-xs;
            }
        }
    }

    /* Input */
    .fi-input-wrp {
        .fi-input {
            @apply rounded-lg py-2 px-3;
        }
    }

    /* Page sub navigation */
    .fi-page-sub-navigation-sidebar-ctn {
        .fi-sidebar-group-items {
            .fi-sidebar-item {
                &.fi-active {
                    .fi-sidebar-item-btn {
                        @apply bg-white;
                    }

                    .fi-sidebar-item-icon {
                        @apply bg-white text-content-primary;
                    }

                    .fi-sidebar-item-label {
                        @apply text-content-primary;
                    }
                }
            }

            .fi-sidebar-item-btn {
                @apply rounded-3xl text-content-primary;

                .fi-sidebar-item-icon {
                    @apply rounded-full bg-layout-secondary p-1;
                }

                .fi-sidebar-item-label {
                    @apply text-sm font-extralight!;
                }
            }
        }
    }

    /* Tables */
    .fi-ta {
        .fi-ta-ctn {
            @apply rounded-none ring-0 border border-keyline-primary dark:border-keyline-primary-dark shadow-[8px_8px_0_0_var(--color-keyline-primary)] dark:shadow-[8px_8px_0_0_var(--color-keyline-primary-dark)];

            .fi-ta-header {
                @apply border-0;

                .fi-ta-header-heading {
                    @apply text-content-primary dark:text-content-primary-dark text-xl font-bold;
                }
            }

            & .fi-ta-header-toolbar {
                @apply border-b-0;
            }

            .fi-ta-table {
                > thead {
                    @apply border-0;
                }
                
                > thead, > tbody {
                    :where(& > :not(:last-child)), tr:not(:last-child) {
                        @apply border-0;
                    }
                }
            }

            &:where(.dark, .dark *) {
                @apply bg-layout-primary-dark;

                .fi-ta-record {
                    @apply bg-layout-primary-dark;
                }
            }
        }

        .fi-ta-header-cell {
            @apply text-xs uppercase tracking-wider;
        }

        .fi-ta-empty-state {
            &:not(.fi-ta-ctn-with-content-layout .fi-ta-empty-state) {
                @apply border-t-0;
            }
        }

        &.fi-ta-custom-table {
            .fi-ta-record-content-ctn {
                @apply items-stretch flex-col;

                .fi-ta-actions {
                    
                }
            }
        }
    }

    /* Panels */
    .fi-panel-custom {
        .fi-panel-ctn {
            @apply rounded-none bg-white;

            .fi-panel-heading {
                @apply px-6 pt-4 font-semibold;
            }

            .fi-panel-content-ctn {
                @apply px-6 text-sm py-4;
            }
        }
    }

    .fi-wi-widget {
        .fi-section {
            @apply rounded-none;
        }
    }

    /* Individual block/component themes */
    .theme-tertiary {
        .theme-text {
            @apply text-(--tertiaryLight-500);
        }
        .fi-ta-ctn {
            @apply border border-keyline-primary dark:border-keyline-primary-dark shadow-[8px_8px_0_0_var(--color-keyline-primary)] dark:shadow-[8px_8px_0_0_var(--color-keyline-primary-dark)];
        }
        .fi-btn {
            &.fi-btn-empty {
                @apply text-(--tertiaryLight-500) dark:text-(--tertiaryDark-500);
            }
            &:not(.fi-btn-empty) {
                @apply bg-(--tertiaryLight-500) dark:bg-(--tertiaryDark-500);
            }
        }
    }

    .theme-quaternary {
        .theme-text {
            @apply text-(--quaternaryLight-500) dark:text-(--quaternaryDark-500);
        }
        .fi-ta-ctn {
            @apply border border-keyline-primary dark:border-keyline-primary-dark shadow-[8px_8px_0_0_var(--color-keyline-primary)] dark:shadow-[8px_8px_0_0_var(--color-keyline-primary-dark)];
        }
        .fi-btn {
            &.fi-btn-empty {
                @apply text-(--quaternaryLight-500) dark:text-(--quaternaryDark-500);
            }
            &:not(.fi-btn-empty) {
                @apply bg-(--quaternaryLight-500) dark:bg-(--quaternaryDark-500);
            }
        }
    }
}

